<!DOCTYPE html>
<html layout:decorate="~{layout.html}">
	<head>
	    <title>Index</title>
	</head>
	<body>
		<div class="container">
			<div layout:fragment="content">	
				<h1>
					Welcome to Login/register demo app</span>
				</h1>
				<p>This app demonstrates user registration and login/logout features using following technologies :</p>
	
				<li>Spring Boot</li>
				<li>Spring Web MVC</li>
				<li>Spring Security</li>
				<li>Spring Data JPA (Hibernate)</li>
				<li>Thymeleaf</li>
				<li>Bootstrap (webjars)</li>
				<li>Mysql</li>	
			</div>	
		</div>
	</body>
</html>